/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Verdana';
 }

 body {
   font-size: 14px;
   margin: 0 0 100px;
   min-width: 1250px;
 }

 html{
   position: relative;
   min-height: 100%;
 }

 #navbar{
   min-height: 100px;
   min-width: 1200px;
 }

 #navbar-logo-img{
   padding: 10px;
 }

 #navbar-logo-img img{
   height: 80px;
 }

 #navbar-logo-img h1{
   display: inline-block;
   transform: translateY(-10px);
   margin-left: 10px;
 }

 #navbar-login-content{
   width: 200px;
   height: 40px;
   float: right;
   display: inline;
   border: 2px solid black;
   margin: 10px 35px;
   text-align: center;
   box-shadow: 1px 1px 1px gray;
 }

 #navbar-login-content a{
   color: black;
   margin: 10px 15px;
   font-weight: bold;
   display: inline-block;
 }

 #navbar-login-content a:hover{
   color: black;
   background-color: white;
 }

 #main-container{
   min-width: 1200px;
   margin-left: 100px;
 }

 footer {
   background: black;
   height: 50px;
   width: 100%;
   position: absolute;
   bottom: 0;
 }

 footer img {
   height: 40px;
   float: right;
   margin: 7px 15px;
 }
